<div class="text-center">
	<div ng-repeat="alrm in alarm._alarmsObj | orderBy:'time'">
		<span style="font-size: 1.7em;">{{alrm.title}} {{alrm.time | date: "hh:mm a"}}</span>
		<span ng-show="alrm.isTomorrow"> Tomorrow</span>
		<span ng-hide="alrm.isTomorrow"> Today</span><br>
		<span ng-repeat="days in alrm.repeatDays">{{alarm.days[days].name}}&nbsp;&nbsp;</span>
	</div><br><br>
	<a style="text-decoration: none;" ui-sref="alarm.new">
		<button class="btn btn-primary" ng-click="alarm.changed()">Add Alarm</button></a>
		<button class="btn btn-primary" ng-click="alarm.deleteAllAlarm()" ng-show="alarm._alarmsObj.length">Delete All</button>
</div>